<br>
    <br>
<h1 class="animated fadeIn fast">Sobre Tendecias en desarrollo web</h1>
<hr/>
<p class="fadeIn">
  Es bien  que hoy en día las empresas buscan, cada vez más, perfiles tecnológicos, y especialmente desarrolladores web. Según el más reciente informe de Tech Cities de Experis IT, el desarrollo web es una de las áreas con más futuro y proyección laboral. Debido al aumento del uso de Internet y las mejoras en las conexiones, la necesidad de desarrolladores en las empresas es realmente alta.
</p>
<p class="fadeIn">
  Si hablamos de tecnología, sabemos que todo cambia muy rápido y nuevas posibilidades están surgiendo a cada momento. Aunque algunas veces no sea posible aplicar todas las innovaciones disponibles que hay el mercado, es fundamental estar al tanto de las tendencias que pueden ser aplicadas en el desarrollo web.
</p>
<p class="fadeIn">
  Este 2019 está siendo marcado por diferentes tendencias tecnológicas, donde el objetivo principal es simplificar y facilitar la vida de los internautas. Nuevas tecnologías están acortando la distancia entre el ser humano y las máquinas. Por esta razón, en este post te presentaremos algunas de esas tendencias que podrás aplicar en el desarrollo de tus sitios web.
</p>

<img src="assets/img/tende.png" alt="">

