<h1>Buscando: <small>{{ termino }}</small></h1>
<hr/>

<div class="row animated fadeIn fast" *ngIf="tendencias.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término <b>{{ termino }}</b>.
    </div>
  </div>
</div>

<div class="card-columns">

  <div class="card animated fadeIn fast"*ngFor="let tendencia of tendencias;let i = index">
    <img class="card-img-top"  [src]="tendencia.img" [alt]="tendencia.nombre">
    <div class="card-body">
      <h4 class="card-title">{{ tendencia.nombre }}</h4>
      <p class="card-text">{{ tendencia.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ tendencia.aparicion }}</small></p>
      <button class="btn btn-outline-primary btn-block" (click)="verHeroe(tendencia.id)">Ver más...</button>
      <!--<a [routerLink]="['/heroe','i']" class="btn btn-outline-primary btn-block">Ver más...</a>-->
    </div>
  </div>
